.global {
  width: 1920px;
  height: 1080px;
  background-color: #b7d2ee;
  margin: 0 auto; /* Centraliza a página horizontalmente */
}

.someClass {
  padding: 20px;
}

.titulo {
  text-align: center;
  color: rgb(0, 0, 0);
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
}

.tableContainer {
  overflow-x: auto;
  border-radius: 10px; /* Arredonda toda a tabela */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
}

.table {
  width: 600px; /* Largura da tabela */
  border-collapse: collapse;
  text-align: center; /* Centraliza o conteúdo da célula */
  margin: 0 auto; /* Centraliza a tabela horizontalmente */
  border-radius: 10px; /* Aplicando border-radius diretamente na tabela */
  overflow: hidden; /* Garante que o border-radius seja visível */
}

.table th,
.table td {
  padding: 8px;
  text-align: left; /* Alinha o texto à esquerda */
  color: white;
  background-color: #79b6f4;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.subheader {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 100px;
}
